/* logo+手机版app下载 */
body{
    background-color: #efefef;
}
.m_top{
    background-color: #ff841d;
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.m_top>.logo{
    padding: 12px;
}
.m_top>.logo>a>img{
    max-height: 25px;
    overflow: hidden;
}
.m_top .app{
    padding: 7px;
}
.m_top .app a img{
    max-height: 34px;
    overflow: hidden;
}
/* 搜索框 */
.search1{
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    position: relative;
    background-color: white;
}
.search1 .searchtxt{
    padding: 10px;
}
.search1 .searchtxt input {
    -webkit-appearance: none;
    border: none;
    background: #f1f1f1;
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    /*padding-left: 10px;*/
    width: 90%;
    padding-left: 5%;
    font-size: 16px;
}
.search1 .searchbtn input{
    background-color: #ff841d;
    width: 63px;
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    line-height: 30px;
}

/* 底部 */
.nav{
    border-bottom: 1px solid #c4c4c4;
    background-color: #efefef;
    border-top: 1px solid #c4c4c4;
    margin-top: 25px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.nav li{
    padding: 0;
    border-right: 1px solid #c4c4c4;
    width: 30%;
    float: left;
}
.nav li:nth-child(3){
    border-right: none;
    width: 40%;
}
.nav li a{
    color: #5a5a5a;
}
.nav li a img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 2px;
}
.footerApp{
    background-color: #efefef;
    text-align: center;
    padding: 15px 0;
    color: #666;
}
.footerApp span{
    font-size: 12px;
    color: #666;
}
.footerApp span a{
    color: red;
}

/* nav */
.nav_a{
    background-color: #fff;
    height: 40px;
}
.nav_a ul{
    padding: 0 8px;
    display: -webkit-box;
    margin-bottom: 0;
    height: 100%;
}

.nav_a ul li {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 14px;
}
.nav_a ul li a{
    line-height: 40px;
    color: #5a5a5a;
}

    /* tv */
.tv ul{
    margin: 0;
}
.tv li{
    padding: 10px 8px;
    font-size: 12px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #ccc;
}
.tv li a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.tv li .pic{
    float: left;
    width: 120px;
    height: 120px;
    text-align: center;
    margin-right: 10px;
    overflow: hidden;
}
.tv li .inf{
    overflow: hidden;
}
.tv li .inf .tit{
    color: #333333;
    word-break: break-all;
    font-size: 15px;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.tv li .inf .price{
    color: #ed0000;
    font-size: 18px;
    overflow: hidden;
    margin-top: 6px;
}
.tv li .inf .price em{
    font-size: 12px;
}
.tv li .inf .other{
    display: -webkit-box;
    margin-top: 4px;
}
.tv li .inf .other .mall{
    color: #a1a1a1;
    line-height: 21px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}
.tv li .inf .other .sales{
    text-align: right;
    color: #a1a1a1;
    line-height: 21px;
}

    /* 翻页功能 */
.contain .running_small {
    height: 100px;
    width: 100%;
}
.contain .running_small ul{
    height: 100%;
}
.contain .running_small ul li {
    background-color: #dcdcdc;
    width: 33.33%;
    height: 100%;
    line-height: 100px;
    float: left;
}
.contain .running_small ul li > a > span {
    font-size: 18px;
    color: #5a5a5a;
    border-radius: 5px;
    padding: 12px 20px;
    margin-left: 18px;
    text-align: center;
    background-color: #d4d4d4;
    border: 1px solid #bababa;
}
.contain .running_small ul li > a > select {
    width: 120px;
    height: 47px;
    margin-left: 8px;
    text-align: center;
    font-size: 18px;
}

    /* 相关链接 */
.lian{
    margin-top: 25px;
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}
.lian a{
    font-size: 12px;
    color: #5a5a5a;
    text-decoration: none;
}

    /* 底部广告部分 */
.app_bar{
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: block;
    height: 60px;
    width: 100%;
    background-color: #faf8f5;
    transition: opacity .2s ease-out;
}
.app_bar .fix{
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    padding: 38px 24px 20px;
    background-image: url("../../../img/TB2U68FkXXXXXXBXFXXXXXXXXXX_!!379516416.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px;
    opacity: 1;
}
.app_bar .mmp{
    position: absolute;
    left: 46px;
    top: 0;
    bottom: 0;
    width: 41px;
    height: 41px;
    background-image: url("../../../img/logo.png");
    background-repeat: no-repeat;
    background-size: 41px;
    margin: auto;
}
.app_bar .title{
    margin-top: 12px;
    font-size: 18px;
    color: #888;
    margin-left: 97px;
    margin-bottom: 0;
    margin-right: 84px;
    line-height: 1;
}
.app_bar .des{
    margin-top: 3px;
    font-size: 14px;
    color: #999;
    margin-left: 97px;
    margin-right: 84px;
    line-height: 1;
}
.app_bar .loat_btn{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 74px;
    height: 32px;
    padding-top: 10px;
    margin: auto;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #ff7700;
    border-radius: 4px;
    box-shadow: inset 0 -2px #ff5500;
    text-decoration: none;

}