* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 44px;
  background-color: #ff841d;
  padding: 0 20px;
}
.header .header_left {
  float: left;
}
.header h3 {
  text-align: center;
  line-height: 44px;
}
.header .header_right {
  background: url(../img/gnzk/header_app.png) no-repeat;
  float: right;
}
